[Unit]
Description=cible game server
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
User=gregory
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/var/opt/cible
ExecStart=/home/gregory/bin/cible -s
Restart=always
RestartSec=2
LimitNOFILE=5555

[Install]
WantedBy=multi-user.target